/*#region Utilities generale  */


/* Regola generale */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Elemento Radice */
:root {
    --Width_100 : 100%;
    --Heigth_col_sm: calc(100% / 5);
    --Heigth_Container: 500px;
}

/* Regole comuni */
.h_container {
    height: var(--Heigth_Container);
}

.h_col_sm {
    height: var(--Heigth_col_sm);
}

/* Margine e Padding a 0, come da foto */
/* Ho dovuto sovrascrivere con important :/  */
.m_p_none {
    margin: 0;
    padding-left: 0px !important;
    padding-right: 0px !important;
}


/*#endregion */

/*#region Utilities del main  */

/* Testi e paragrafi dell'immagine */
.text_thumb {
    width: 90%;
    text-align: right;
    padding: 2rem;
    position: absolute;
    bottom: 1%;
    right: 5%;
}

.img_text,
.img_title {
    color: white;
}

/* Common rules per le immagini, a prescindere dalla colonna */
.img_col {
    width: var(--Width_100);
    height: var(--Heigth_col_sm);
    background-repeat: no-repeat;
    position: relative;
}

.img_col_10 {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
}
/*#endregion */

/*#region Utilities di position  */
.abs_top {
    top: 3%;
}

.abs_bot {
    bottom: 3%; 
}

.abs_bot,
.abs_top {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.rel {
    position: relative;
}

/*#endregion */

/* Sarà da buttare */
.bg_try {
    background-color: rgb(243, 235, 235);
    border-radius: 50%;
}

